.px1 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.mt2{
    margin-top: 2rem;
}
.input-field label {
    color: #ce93d8;
}
.input-field input[type=text] {
    border-bottom: 1px solid #ce93d8;
    /*box-shadow: 0 1px 0 0 #000;*/
}
.todo{
    margin-bottom: 2rem;
}
.todo.completed span {
    text-decoration: line-through;
}
.todo label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #f3f3f3;
    padding: 1rem;
}
.todo i {
    z-index:2;
}